<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Summary</h2>
<div class="summary">
    <p>I'm Currently a PhD Student in Hydrologic Sciences at the University of California Davis. More broadly, I'm interested in general data science, data visualization, machine learning, and natural language processing. You can view a few of my academic projects here <a href="http://rpubs.com/richpauloo">at this RPubs page</a>.</p>
</div><!--//summary-->
</section><!--//section-->
