<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Summary</h2>
<div class="summary">
    <p>I'm currently a PhD Student in Physical Hydrology at the University of California Davis. I'm interested in getting involved in projects including elements of general data science: wrangling, visualization, machine learning, and natural language processing. You can view a few of my academic projects here <a href="http://rpubs.com/richpauloo">at this RPubs page</a>. Feel free to reach out with questions or to collaborate.</p>
</div><!--//summary-->
</section><!--//section-->
