<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">PhD Student in Hydrologic Sciences</h3>
                            <div class="time">2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Univeristy of California, Davis</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>For the past two years I've been an <a href="http://ccwas.ucdavis.edu/">NSF Climate Change, Water and Society</a> Trainee. My day-to-day research includes numerical modeling of groundwater flow, contaminant transport, spatial statistics, mapping, optimization, and general data science.</p>  
                        <p>I have two ongoing projects. One is part of a wider <a href="http://ucwater.org/">UC Water</a>  initative to improve total water storage in California. The other is a regional groundwater quality modeling project funded by the US Department of Energy and <a href = "http://cercwet.berkeley.edu/">CERC-WET</a>. </p> 
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Site Manager and Environmental Educator</h3>
                            <div class="time">2012 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href= "https://naturebridge.org/">NatureBridge</a>. Yosemite and the Marin Headlands, California</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>This unique role takes the duties of principal, teacher, counselor, and motivation speaker and rolls them into one. I did everything at this small nonprofit, including staff training, regular public speaking to many hundreds of people, and cirriculum development. More importantly, I worked with a close-knit team of ~50 to deliver the best education possible.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                
                
            </section><!--//section-->
