<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Here are a few of my ongoing projects.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://richpauloo.shinyapps.io/tds_leaflet/">Groundwater Quality Mapping App</a></span> - <span class="project-tagline">funded by the US Department of Energy & CERC-WET.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://richpauloo.shinyapps.io/abstr/">AbstR</a></span> - 
                    <span class="project-tagline">An app for discovering abstracts at the 2016 American Geophysical Union Fall Meeting. </span>
                </div><!--//item-->
  
  
                <div class="item">
                    <span class="project-title"><a href="https://www.getintogradschool101.com/">Get into Grad School 101</a></span> - <span class="project-tagline">A guide to navigating the admissions process to graduate school, now depricated and rolled over into another project, <a href="https://www.prep4grad.com/">Prep4grad</a>.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="http://rpubs.com/richpauloo/rp">Natural Language Processing</a></span> - <span class="project-tagline">A very brief example of some unigram NLP. I can share work on document classification, tf-idf, word vectorization and recommendation algorithms upon request.</span>
                </div><!--//item-->


</section>
                
